In [1]:
#Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'numpy'

In [58]:
#Methods for processing data
def cleanYear(data):
    return data[data["Year"]>2006]

def cleanData(data):
    # data = data.rename(columns=({"Player Id":"Pid"})).copy()
    data["Pid"] = data["Player Id"].str.extract('(\d+)', expand=False)
    data = cleanYear(data)
    data.drop(columns=["Player Id"],axis=1,inplace=True)
    return data

#Initialize salary dataset
nfl_salaries = pd.read_csv("data/nfl/player_salaries/nfl_salary.csv")
nfl_salaries = nfl_salaries.rename(columns={"playerId":"Pid"})
nfl_salaries = nfl_salaries.rename(columns={"playerName":"Name"})

def changeName(data):   
    for i in nfl_salaries["Name"]:
        count = 0
        lst = i.split()
        name = ""
        name = name + lst[0] + "," + lst[1]
        nfl_salaries["Name"][count] = name
        count = count + 1

#Initialize "root" stat dataset
nfl_stats_basic = pd.read_csv("data/nfl/stats/Basic_Stats.csv")
nfl_stats_basic = nfl_stats_basic.rename(columns=({"Player Id":"Pid"}))
nfl_stats_basic["Pid"] = nfl_stats_basic["Pid"].str.extract('(\d+)', expand=False)

#Initialize auxilliary stat datasets
nfl_defensive = pd.read_csv("data/nfl/stats/Career_Stats_Defensive.csv")
nfl_field_goal = pd.read_csv("data/nfl/stats/Career_Stats_Field_Goal_Kickers.csv")
nfl_fumble = pd.read_csv("data/nfl/stats/Career_Stats_Fumbles.csv")
nfl_kick_return = pd.read_csv("data/nfl/stats/Career_Stats_Kick_Return.csv")
nfl_kickoff = pd.read_csv("data/nfl/stats/Career_Stats_Kickoff.csv")
nfl_passing = pd.read_csv("data/nfl/stats/Career_Stats_Passing.csv")
nfl_punt_return = pd.read_csv("data/nfl/stats/Career_Stats_Punt_Return.csv")
nfl_punting = pd.read_csv("data/nfl/stats/Career_Stats_Punting.csv")
nfl_receiving = pd.read_csv("data/nfl/stats/Career_Stats_Receiving.csv")
nfl_rushing = pd.read_csv("data/nfl/stats/Career_Stats_Rushing.csv")

csvList = [nfl_defensive, nfl_field_goal, nfl_fumble, nfl_kick_return, nfl_kickoff, nfl_passing, nfl_punt_return, nfl_punting, nfl_receiving, nfl_rushing,]

for i in csvList:
   i = cleanData(i)

for i in csvList:
     i.drop(columns=["Player Id"],axis=1,inplace=True)

/var/folders/6h/qx5375vs1mb5p5pk63rzd6ym0000gn/T/ipykernel_11767/2609985909.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nfl_salaries["Name"][count] = name

,Name,Pid,year,team,salary,signingBonus,rosterBonus,workoutBonus,restructureBonus,optionBonus,incentive,totalCash
0,"DeVante,Parker",21939,2017,jets,"$348,000","$148,413",-,-,-,-,-,"$496,413"
1,Jeremy Clark,21939,2018,jets,"$555,000",-,-,-,-,-,-,"$555,000"
2,Jeremy Clark,21939,2019,jets,"$645,000",-,-,-,-,-,-,"$645,000"
3,Jeremy Clark,21939,2020,jets,"$735,000",-,-,-,-,-,-,"$735,000"
4,Darius Jennings,17441,2015,browns,"$51,176",-,-,-,-,-,-,"$51,176"
...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Justin Hardee,22187,2017,neworleans,"$410,294",-,-,-,-,-,-,"$410,294"
2934,DeVante Parker,16738,2015,dolphins,"$435,000","$6,170,213",-,-,-,-,-,"$6,605,213"
2935,DeVante Parker,16738,2016,dolphins,"$929,389",-,-,-,-,-,-,"$929,389"
2936,DeVante Parker,16738,2017,dolphins,"$1,423,776",-,-,-,-,-,-,"$1,423,776"
2937,DeVante Parker,16738,2018,dolphins,"$1,918,165",-,-,-,-,-,-,"$1,918,165"

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [57]:
#Further data processing
dList = [nfl_defensive]
oList = [nfl_fumble, nfl_kick_return, nfl_kickoff, nfl_field_goal, nfl_punt_return, nfl_punting, nfl_receiving, nfl_rushing]

#Creating nfl_defense
nfl_defense = nfl_defensive

#Creating nfl_offense
nfl_offense = nfl_passing
for i in oList:
    nfl_offense = pd.merge(nfl_offense, i, on=['Pid', 'Year', 'Name', 'Position', 'Team', 'Games Played'], how="left")

/var/folders/6h/qx5375vs1mb5p5pk63rzd6ym0000gn/T/ipykernel_11767/983444285.py:11: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Fumbles_x'} in the result is deprecated and will raise a MergeError in a future version.
  nfl_offense = pd.merge(nfl_offense, i, on=['Pid', 'Year', 'Name', 'Position', 'Team', 'Games Played'], how="left")

In [15]:
dataSets = [nfl_salaries, nfl_stats_basic, nfl_defense, nfl_offense]
for i in dataSets:
    display(i)

,Name,Pid,year,team,salary,signingBonus,rosterBonus,workoutBonus,restructureBonus,optionBonus,incentive,totalCash
0,Jeremy Clark,21939,2017,jets,"$348,000","$148,413",-,-,-,-,-,"$496,413"
1,Jeremy Clark,21939,2018,jets,"$555,000",-,-,-,-,-,-,"$555,000"
2,Jeremy Clark,21939,2019,jets,"$645,000",-,-,-,-,-,-,"$645,000"
3,Jeremy Clark,21939,2020,jets,"$735,000",-,-,-,-,-,-,"$735,000"
4,Darius Jennings,17441,2015,browns,"$51,176",-,-,-,-,-,-,"$51,176"
...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Justin Hardee,22187,2017,neworleans,"$410,294",-,-,-,-,-,-,"$410,294"
2934,DeVante Parker,16738,2015,dolphins,"$435,000","$6,170,213",-,-,-,-,-,"$6,605,213"
2935,DeVante Parker,16738,2016,dolphins,"$929,389",-,-,-,-,-,-,"$929,389"
2936,DeVante Parker,16738,2017,dolphins,"$1,423,776",-,-,-,-,-,-,"$1,423,776"
2937,DeVante Parker,16738,2018,dolphins,"$1,918,165",-,-,-,-,-,-,"$1,918,165"

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Pid,Position,Weight (lbs),Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,2552444,DE,305.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17167,73.0,"Detroit , MI",2/15/1944,Michigan State,Retired,NaN,1 Season,71.0,NaN,NaN,"Goovert, Ron",NaN,2515082,NaN,225.0,1967 - 1967
17168,32.0,"Worland , WY",8/19/1984,Weber State,Retired,NaN,1 Season,75.0,NaN,NaN,"Folsom, J.D.",NaN,238485,NaN,230.0,2009 - 2010
17169,43.0,"Washington , DC",5/4/1974,Akron,Retired,NaN,1 Season,72.0,NaN,NaN,"Reader, Jamie",NaN,2502599,NaN,238.0,2001 - 2001
17170,NaN,"New Willard , TX",3/30/1921,Baylor,Retired,NaN,2 Seasons,73.0,NaN,NaN,"Barnett, Solon",NaN,2509044,NaN,235.0,1945 - 1946
17171,54.0,"Bryan , TX",10/21/1962,Baylor,Retired,NaN,1 Season,73.0,NaN,NaN,"Johnson, Byron",NaN,2517578,NaN,220.0,1987 - 1987

,Name,Position,Year,Team,Games Played,Total Tackles,Solo Tackles,Assisted Tackles,Sacks,Safties,Passes Defended,Ints,Ints for TDs,Int Yards,Yards Per Int,Longest Int Return,Pid
0,"Johnson, Quinn",NaN,2013,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--,79593
1,"Johnson, Quinn",NaN,2012,Tennessee Titans,16,1,1,0,0.0,--,0,--,--,--,0.0,--,79593
2,"Johnson, Quinn",NaN,2011,Tennessee Titans,4,0,--,--,--,--,--,--,--,--,0.0,--,79593
3,"Johnson, Quinn",NaN,2011,Denver Broncos,0,0,--,--,--,--,--,--,--,--,0.0,--,79593
4,"Johnson, Quinn",NaN,2010,Green Bay Packers,11,4,4,0,0.0,--,0,--,--,--,0.0,--,79593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23993,"Smith, Torrey",WR,2012,Baltimore Ravens,16,1,1,0,0.0,0,0,--,--,--,0.0,--,2495459
23994,"Smith, Torrey",WR,2011,Baltimore Ravens,16,2,2,0,0.0,0,0,--,--,--,0.0,--,2495459
23995,"Folsom, J.D.",NaN,2009,Miami Dolphins,2,1,1,0,0.0,--,0,--,--,--,0.0,--,238485
23996,"Reader, Jamie",NaN,2001,Philadelphia Eagles,16,7,7,0,0.0,--,0,--,--,--,0.0,--,2502599
23997,"Johnson, Byron",NaN,1987,Houston Oilers,3,--,--,--,2.0,--,0,--,--,--,0.0,--,2517578

,Name,Position,Year,Team,Games Played,Passes Attempted,Passes Completed,Completion Percentage,Pass Attempts Per Game,Passing Yards,...,Rushing Yards,Yards Per Carry,Rushing Yards Per Game,Rushing TDs,Longest Rushing Run,Rushing First Downs,Percentage of Rushing First Downs,Rushing More Than 20 Yards,Rushing More Than 40 Yards,Fumbles
0,"Farris, Tom",NaN,1948,Chicago Rockets,0,--,--,--,0.0,--,...,--,--,--,--,--,--,--,--,--,--
1,"Farris, Tom",NaN,1947,Chicago Bears,9,2,0,0.0,0.2,0,...,-3,-3.0,-0.3,0,--,--,--,--,--,--
2,"Farris, Tom",NaN,1946,Chicago Bears,11,21,8,38.1,1.9,108,...,-11,-0.9,-1.0,0,--,--,--,--,--,--
3,"Demory, Bill",NaN,1974,New York Jets,1,--,--,--,0.0,--,...,--,--,--,--,--,--,--,--,--,--
4,"Demory, Bill",NaN,1973,New York Jets,6,39,12,30.8,6.5,159,...,-1,-0.3,-0.2,0,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8520,"Anderson, Bill",NaN,1962,Washington Redskins,12,--,--,--,0.0,--,...,--,--,--,--,--,--,--,--,--,--
8521,"Anderson, Bill",NaN,1961,Washington Redskins,14,--,--,--,0.0,--,...,5,1.7,0.4,0,--,--,--,--,--,--
8522,"Anderson, Bill",NaN,1960,Washington Redskins,12,--,--,--,0.0,--,...,6,6.0,0.5,0,--,--,--,--,--,--
8523,"Anderson, Bill",NaN,1959,Washington Redskins,11,--,--,--,0.0,--,...,--,--,--,--,--,--,--,--,--,--
8524,"Anderson, Bill",NaN,1958,Washington Redskins,12,--,--,--,0.0,--,...,--,--,--,--,--,--,--,--,--,--